/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa|MedievalSharp');*/

html, body {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 1em;
}

body {
  font-size: 100%;
  margin: 0 auto;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.background {
  opacity: .12;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
}

.content {
  text-align: center;
  z-index: 99;
  transform: translateY(-10%);
}

.content:hover {
  cursor: pointer;
}

.name {
  font-size: 5em;
  padding: 30px;
  padding-bottom: 10px;
  font-family: 'MedievalSharp';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.welcome, .intro {
  font-family: 'Amatic SC';
}

.welcome {
  font-size: 3em;
}

.intro {
  font-size: 5em;
}

.intro span {
  font-size: 2em;
}

.instructions {
  margin-top: .5em;
  line-height: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.openedInfo, .instructions {
  background: rgba(255,255,255, .7);
  color: rgba(0,0,0, 0.9);
  border: 1px solid rgba(0,0,0, .2);
  border-radius: .5em;
  padding: 1em;
  font-size: 1.1em;
}

.openedInfo p {
  margin-right: 2em;
}

.openedInfo a {
  color: #fff;
}

.closedInfo {
  border: 2px solid #000;
  border-radius: 50%;
  width: 0;
  height: 0;
  opacity: .55;
}

.openedInfo {
  width: 33%;
  margin-right: 2em;
}

.fullInfo {
  display: none;
}

.info {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Outfit;
}

.info p {
  font-family: Outfit;
  line-height: 1.5em;
}

.info a {
  color: #000;
  font-weight: bold;
}

.expand, .exit {
  font-weight: bold;
  font-family: Outfit;
  font-size: 2em;
  padding: 10px;
}

.expand:hover, .exit:hover {
  cursor: pointer;
}

.exit {
  position: absolute;
  top: -.3em;
  right: 0;
  opacity: .55;
}

.exit:hover, .closedInfo:hover {
  opacity: .9;
}
